* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Open Sans;
  padding-bottom: 100px;
}

.container {
  max-width: 1425px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* Header section */
.header {
  background: #e4f5eb;
  padding-top: 71px;
}

.nav_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_block .search a {
  color: #575859;
  font-size: 19.829px;
  font-style: normal;
  font-weight: 700;
  line-height: 14.872px; /* 75% */

  margin-left: 50px;
  text-decoration: none;
  transition: all 0.5s;
}
.nav_block .search a:hover {
  color: #45b871;
}
.nav_block .sign a {
  color: #575859;
  font-size: 19.829px;
  font-style: normal;
  font-weight: 600;
  line-height: 14.872px; /* 75% */

  text-decoration: none;
  margin-right: 20px;
  transition: all 0.5s;
}
.nav_block .sign a:hover {
  color: #45b871;
}
.nav_block .sign button {
  color: #fff;
  font-size: 19.829px;
  font-style: normal;
  font-weight: 600;
  line-height: 14.872px; /* 75% */

  border-radius: 4.957px;
  background: #45b871;
  box-shadow: 0px 7.93174px 79.31741px 0px rgba(9, 188, 77, 0.2);
  width: 136.823px;
  height: 54.531px;
  border: none;
  transition: all 0.5s;
  cursor: pointer;
}
.nav_block .sign button:hover {
  background-color: transparent;
  color: #45b871;
  border: 1px solid #45b871;
}

/* Main section */

.main {
  margin-top: 76px;
}

.main_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main_text h3 {
  color: #242323;
  font-size: 63.454px;
  font-style: normal;
  font-weight: 700;
  line-height: 83.283px; /* 131.25% */

  width: 612.727px;
  margin-bottom: 32px;
}
.main_text p {
  color: #6c6c6a;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 166.667% */

  width: 626.607px;
  margin-bottom: 50px;
}
.main_text .button {
  display: flex;
}

.main_text .button .Courses {
  color: #fff;
  font-size: 19.829px;
  font-style: normal;
  font-weight: 600;
  line-height: 31.727px; /* 160% */

  width: 202.259px;
  height: 72.377px;
  border: none;
  cursor: pointer;
  transition: all 0.5s;

  border-radius: 4.957px;
  background: #45b871;
  box-shadow: 0px 7.93174px 79.31741px 0px rgba(9, 188, 77, 0.2);
}

.main_text .button .Courses:hover {
  background-color: transparent;
  color: #45b871;
}

.main_text .button .play {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 10px;
  border: 1px solid #bbdfff;
  margin-left: 30px;
  width: 188px;

  background-color: #fff;
  cursor: pointer;

  transition: all 0.5s;
}

.main_text .button .play:hover {
  background-color: #45b871;
  color: #f8f8f8;
}

.play span {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 15px;
}
.main_img img {
  margin-bottom: 77px;
}

/* list section */

.list_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list .list_text h3 {
  color: #575859;
  font-size: 35.693px;
  font-style: normal;
  font-weight: 700;
  line-height: 49.573px; /* 138.889% */

  width: 336.108px;
  padding-top: 75px;
  margin-bottom: 70px;
}

.list_img {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Started section */

.Started .started_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.started__img {
  width: 606px;
  height: 582px;
  margin-right: 252px;
}
.started__text h3 {
  color: #242323;
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: 74px; /* 127.586% */

  width: 416px;
  margin-bottom: 30px;
}

.started__text p {
  width: 661px;

  color: #8c8e90;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */

  margin-bottom: 50px;
}

.started_container .button {
  display: flex;
  align-items: center;
  gap: 18px;
}

.started_container .button img {
  width: 58px;
  height: 58px;
}

.started__text .button a {
  color: #242323;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 160% */
  text-decoration-line: underline;

  transition: all 0.5s;
}

.started__text .button a:hover {
  color: #45b871;
}

/* courses section */

.courses {
  background: #e4f5eb;
}

.courses__container .courses__block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.courses__container h2 {
  color: #242323;
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: 74px; /* 127.586% */
  padding-top: 72px;
  margin-bottom: 123px;
}

.courses__container .card {
  width: 450px;
  border-radius: 10px;
  background-color: #fff;
}
.courses__container .card .thumb {
  width: 450px;

  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.courses__container .courses__section {
  padding: 30px;
}

.courses__container .card h4 {
  color: #242323;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 133.333% */

  width: 400px;
}

.courses__container .row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 30px;
}
.courses__container .row .lectures {
  display: flex;
  align-items: center;
  gap: 10px;
}

.courses__container .row .lectures h6 {
  color: #575859;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 15px; /* 75% */
}

.courses__container .row .learners {
  display: flex;
  align-items: center;
  gap: 10px;
}

.courses__container .row .learners h6 {
  color: #575859;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 122.222% */
}

hr {
  width: 374px;
  height: 1px;
  background: rgba(38, 142, 170, 0.5);
  margin-bottom: 21px;
  margin-top: 21px;
}

.courses__section .static {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.courses__section .static .user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.courses__section .static .user h5 {
  color: #242323;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px; /* 105% */
}

.courses__section .static .user h5 a {
  color: #45b871;
  font-size: 12px;
  font-style: normal;
  line-height: 21px;
  text-decoration-line: underline;
}
.courses__section .static .money {
  color: #4c68ff;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px; /* 44.118% */
}

.courses__container button {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px; /* 75% */

  border-radius: 5px;
  background: #45b871;
  box-shadow: 0px 10px 80px 0px rgba(9, 188, 77, 0.25);

  width: 252px;
  height: 80px;
  border: none;
  margin-top: 25px;
  margin-bottom: 106px;
  margin-left: 580px;
  transition: all 0.5s;
}

.courses__container button:hover {
  background-color: transparent;
  color: #45b871;
  border: 1px solid #45b871;
}

/* about section */
.about {
  padding: 151px 256px 0px 256px;
}
.about__heading h3 {
  margin-bottom: 50px;
  color: #424232;
  font-size: 58px;
  font-weight: 600;
  line-height: 74px;
  word-wrap: break-word;
  margin-left: 392px;
}
.about__cards {
  padding-top: 82px;
  width: 695px;
}
#pre {
  color: #8c8e90;
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
  word-wrap: break-word;
  margin-top: 14px;
  margin-bottom: 60px;
}
.about__cards__text h4 {
  color: #242323;
  font-size: 30px;
  font-weight: 600;
  line-height: 10px;
  word-wrap: break-word;
  margin-bottom: 32px;
}
#designer {
  color: #636262;
  font-size: 20px;
  font-weight: 400;
  line-height: 1px;
  word-wrap: break-word;
  margin-bottom: 81px;
}
.about__cards__img img {
  border-radius: 50%;
  border: 1px solid green;
  padding: 3px;
}
#p {
  color: #8c8e90;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  word-wrap: break-word;
  margin-bottom: 49px;
}
#design {
  color: #636262;
  font-size: 12.85px;
  font-weight: 400;
  line-height: 0.64px;
  word-wrap: break-word;
}
.all__about__cards {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.card--width {
  width: 634px;
  padding-bottom: 49px;
  margin-bottom: 50px;
}
#heading {
  color: #242323;
  font-size: 19.28px;
  font-weight: 500;
  line-height: 6.43px;
  word-wrap: break-word;
}

/* Footer section */
.footer__contenier {
  width: 1425px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../img/Group.png");
  height: 452px;
  padding-top: 106px;
  padding-left: 343px;
}
.footer__contenier h2 {
  color: white;
  font-size: 50px;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 68px;
  word-wrap: break-word;
  width: 725px;
  margin-bottom: 50px;
}
.button__up {
  color: white;
  font-size: 20px;
  font-weight: 600;
  line-height: 15px;
  word-wrap: break-word;
  border: 1px solid white;
  background-color: transparent;
  padding: 20px 37px;
  border-radius: 10px;
  margin-left: 171px;
  text-decoration: none;
}
.button__up:hover {
  background-color: white;
  color: black;
}

.footer__button {
  gap: 30px;
}
.button__start {
  color: #242323;
  font-size: 20px;
  font-weight: 600;
  line-height: 15px;
  background-color: white;
  border-radius: 10px;
  padding: 23px 31px;
  margin-left: 30px;
  text-decoration: none;
}

.button__start:hover {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}
